<!DOCTYPE html>
<html>
  <head>
    <title>ELectricity</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'init_vue' %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="theme-color" content="#6f42c1">
  </head>

  <body class="text-center">
    <div id="main_header"></div>
    <div class="container" id="main_container">
      <%= yield %>
    </div>
  </body>
</html>
